<div class="crossword">
    {% for h in 0..height-1 %}
        <div class="row">
            {% for w in 0..width-1 %}
                <div class="place_for_cell"></div>
            {% endfor %}
        </div>
    {% endfor %}
</div>